@import "tailwindcss";
@import "lenis/dist/lenis.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-raleway: var(--font-raleway);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway), Arial, Helvetica, sans-serif;
}

/* Scrollbar Styling */
/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #dc2626;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b91c1c;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #dc2626 white;
}
